div#infoCard 
{
  width: 22rem;
  border: 0;
}



div.info-card-body
{
  padding: 0;
}


p.info-desc
{
  text-align: justify;
  padding: 0;
}


@media (max-width: 820px) {
  div#infoCard
  {
    width: 100%;
  }
}

  